*{
margin : 0;
padding : 0;
box-sizing : border-box;
font-family: syne;
color: white;
}
html,body{
height : 100%;
width : 100%;
}
.main{
    width: 100%;
    position: relative;
}
.home{
    height: 100vh;
    width: 100%;
    background-color: black;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:3vh 2vw;
}
.nav h1{
    font-weight: 800;
    font-size: 40px;
}
.navr {
    width:40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    text-transform: uppercase;
}
.text{
    display: flex;
   margin-top:3vh ;
}
.text h1{
    font-size: 20vw;
 white-space: nowrap;
 text-transform: uppercase;
 font-weight: 900;
height: 200px;
font-stretch: 260%;
font-family: "gilroy";

}
.page2{
    height: 100vh;
    width: 100%;
    background-color: black;
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: black;
}